@font-face {
    font-family: "Beer money";
    src: local("Beer money"),
    	 url("fonts/beermoney/beermoney.woff") format("woff"),
    	 url("fonts/beermoney/beermoney.woff2") format("woff2"),
         url("fonts/beermoney/beermoney.tff") format("truetype");
}

body {
    margin: 0;
    padding: 0;
    font-family: "Beer money";
    font-size: 14px;
    background: #E0E8DD;
}

h1 {
	font-size: 100px;
	font-weight: normal;
	color: #9A5A9C;
	text-align: center;
	line-height: 0.5;
}

.container {
	background: #ffffff;
	width: 700px;
	margin: 0 auto;
	border: 1px solid #777E7D;
	font-size: 20px;
	padding-bottom: 10px;
}

input + label {
	cursor: pointer;
}

input[type="text"] {
   font-family: "Beer money";
   font-size: 20px;
   border: none;
   width: 100%;
   padding: 0 10px;
   box-sizing: border-box;
   outline: none;
}

input:nth-of-type(n+5),
span {
	margin-left: 10px;
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + label {
	display: inline-block;
	position: relative;
	padding: 5px;
	top: 265px;
	left: 520px;
}

input[type="radio"] + label:hover {
	color: #D5C40D;
}

input[type="radio"]:checked + label {
	color: #AEA21C;
}

input:nth-of-type(1):checked ~ input[type="checkbox"] + label {
	color: red;
}

input:nth-of-type(1):checked ~ input[type="checkbox"]:checked + label {
	color: green;
}

input:nth-of-type(2):checked ~ input[type="checkbox"] + label {
	color: red;
}

input:nth-of-type(2):checked ~ input[type="checkbox"]:checked + label {
	color: #A49C9C;
	text-decoration: line-through;
}

input:nth-of-type(3):checked ~ input[type="checkbox"] + label {
	color: #A49C9C;
	text-decoration: line-through;
}

input:nth-of-type(3):checked ~ input[type="checkbox"]:checked + label {
	color: green;
	text-decoration: none;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label {
	position: relative;
	padding-left: 25px;
}

input[type="checkbox"] + label::before {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	left: 5px;
	top: 4px;
}

input[type="checkbox"]:not(:checked) + label::before {
	background: #FF3131;
}

input[type="checkbox"]:checked + label::before {
	background: #36B00B;
}