@font-face {
    font-family: "Beer money";
    src: local("Beer money"),
    	 	url("fonts/beermoney/beermoney.woff") format("woff"),
    	 	url("fonts/beermoney/beermoney.woff2") format("woff2"),
         url("fonts/beermoney/beermoney.tff") format("truetype");
}

body {
    margin: 0;
    padding: 0;
    font-family: "Beer money";
    font-size: 20px;
    background: #E0E8DD;
}

h1 {
	font-size: 2.5em;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 50px;
	color: #F4142E;
}

section {
	border: 1px solid #9A8E8E;
	width: 600px; height: 265px;
	margin: 0 auto;
	background: white;
	padding: 10px 0;
	position: relative;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

input[type="text"] {
	width: 100%;
	box-sizing: border-box;
	padding: 0 5px;
	line-height: 1.5;
	font-family: "Beer money";
	font-size: 20px;
	border: none;
	outline: none;
}

input[type="checkbox"] {
	display: none;
}

span {
	position: absolute;
	top: 250px;
	left: 5px;
}

input[type="radio"] {
	display: none;
}

section > label {
	position: absolute;
	top: 250px;
	cursor: pointer;
}

section > label:nth-of-type(1) {
	left: 400px;
}

section > label:nth-of-type(2) {
	left: 440px;
}

section > label:nth-of-type(3) {
	left: 525px;
}

ul {
	display: none;
}

input:checked + ul {
	display: block;
}

li > label:before {
	content: "";
	display: inline-block;
	width: 15px; height: 15px;
	border-radius: 7px;
	background: #E60A24;
	margin: 0 5px;
}

li > label {
	cursor: pointer;
}

li > input:checked + label:before {
	background: #0DDE0D;
}